.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* my custom css style 

*/

/* button color 
 */

 .myButton {
	
	background:linear-gradient(to bottom, #7459b3ce 5%, #6f4099d5 100%);
	background-color:#7459b3d2;
	border-radius:35px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-size:16px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	border: none;
}
.myButton:hover {
	background:linear-gradient(to bottom, #704099 5%, #7459b3 100%);
	background-color:#704099;
  color:#e7e7e7;
  box-shadow: 2px 2px 15px -1px #704099;
  transition: all 0.2s ease;
}
.myButton:active {
	position:relative;
	top:1px;
}


/* button outline 
 */


.myOutlineButton {
	box-shadow: 0px 1px 15px -7px #272c73;
	background-color:transparent;
	border-radius:41px;
	border:1px solid #37298f;
	display:inline-block;
	cursor:pointer;
	color:#7917bf;
	font-size:16px;
	font-weight:500;
	padding:4px 12px;
	text-decoration:none;
}
.myOutlineButton:hover {
  border:1px solid #37298f;
	background-color: #7917bf;
  color: white;

  transition: all 0.3s ease-in-out;


}
.myOutlineButton:active {
	position:relative;
	top:1px;
}

        /* log out icon  */

.logout-icon{
  width: 18px;
  height: 16px;
}
.logout-icon :hover{
  margin-right: 5px;
}
.purple-bg{
  background: #5d1491;
}
.purple-text {
  color: #5d1491;
  font-weight: 600;
}
.purple-muted-text {
  color: #7f6096cc;
  font-weight: 600;
}

.custom-input{
  border: 1px solid rgba(73, 73, 73, 0.281) ;
  border-radius: 2px;
  padding: 2px 20px;
  background: #dec3f111;
  
}
.custom-input:focus{
  border: 1px solid rgba(128, 0, 128, 0.733)  !important;
}

.second-color-bg{
  background: #FFA15C;
}
.second-color-text{
  color: #FFA15C;
}
